html,
body {
  background-color: #031532 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-shadow: 0 0 1.2rem black;
}

h1 {
  font-family: Century;
}

h2,
h3 {
  font-family: Mongolian;
}

section {
  margin-bottom: 30px;
}
