.root {
   order: 100;
   display: flex;
   justify-content: space-between;
   height: 75px;
   background: #031532;
   color: #fff;
   align-items: center;
   position: fixed;
   width: 100%;

   @media only screen and (max-width: 425px) {
      justify-content: center;
   }
}

.logo {
   margin-top: 10px;
   margin-left: 40px;

   @media only screen and (max-width: 425px) {
      margin-left: 0px;
   }
}
