.root {
   display: flex;
   justify-content: space-between;
   height: 75px;
   background: #000;
   background: linear-gradient(0deg, transparent, #000);
   color: #fff;
   align-items: center;
   position: absolute;
   width: 100%;
}

.logo {
   margin-top: 20px;
   margin-left: 50px;
}
